::placeholder {
    color: white;
    opacity: 1;
  }
 .navbarlink{
    color: white;
    text-decoration: none;
    font-weight: 400;
 }
 .navbarlink:hover{
    color: yellow;
 }

.navbarlink:hover .drop, .drop:hover {
  display: block;
}

.drop {
  display: none;
  position: absolute;
  background-color: #030303e7;
  color: white;
  width: 120%;

  margin-left: -25%;
  margin-top: 2.5%;
  
}
.hii {
  display: flex;
  justify-content: space-evenly;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: #f8f9fa;
}
.text-trans{
  text-transform: uppercase;
  font-weight: bold;
  
}
.size-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, sans-serif;
}

.sizes {
  display: flex;
  gap: 10px;
}

.size-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.size-button.selected {
  border-color: #000;
  background-color: #e0e0e0;
}
.cssbuttons-io-button {
  background: #000000;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #000000;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;

}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #000000;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #000000;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
